*{
    padding: 1;
    margin: 0;
    font-size: 100%;


}


header{
    height: 10%;
}



  
.immunomodulation{
    color:white;
    text-indent:.5em;
	font-size:150%;
    background-color: deepskyblue;
    
   
}

.immunotherapy{
    color:white;
    text-indent:.5em;
    font-size:2.5em;
    background-color: deepskyblue;
}  

 
.par{
	width:100%;
}

.img1, .img2{
	margin-left:1%;
	margin-top:1%;
	width: 95%;

}


.video, .video2{
    margin-left:1%;
	width: 95%;
	margin-top:1%;
	margin-bottom:3%;
	height: 150%;

}

.intro{
	text-align:center;
	text-indent:1%;
	margin-bottom:1%;
	margin-top:2%;
}

.par1, .par2{
    margin-left:1%;
	text-indent:1%;
	margin-top:1%;
}

.title{
	margin: auto;
	border-radius: 30px;
	background-color: deepskyblue;
	color:white;
	width:80%;
     font-size:180%;
	text-align: center;
}


.doctor-img{
    grid-area: docImage;

}
.doctor-img > img{
    width: 90vw;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
    
}

.brain-img{
    grid-area: brainImage;

}
.brain-img > img{
    width: 90vw;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
    
}

.res-img{
    grid-area: resImage;
    display: block;

}

.res-img > img{
    width: 90vw;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
    
}

.references-main-heading{
    transform: translate(0%, -50px);
}


.cancer1{
    grid-area: docHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;

}

.cancer1 + p{
    grid-area: docText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
    
}

.past{
    grid-area: brainHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;
}

.past + p{
    grid-area: brainText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
}

.research{
    grid-area: resHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;
}

.research + p{
    grid-area: resText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
}


.pastmain-heading{
    grid-area: pastmainHeading;
}

.past-intro{
     grid-area: mainText;
     font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
     font-size: .9rem;
     padding-left: 1%;
     padding-right: 1%;

}

.first-image{
    grid-area: firstImage;

}

.past1{
    height: 35vh;
    border-radius: 30px;
    width: 80%;
    margin-left: 5%;
   
}

.past-heading{
    grid-area: pastHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;

}

.past-text{
    grid-area: pastText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
}

.second-image{
    grid-area: secondImage;

}

.past2{
    width: 90vw;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
   
}


.research-heading{
    grid-area: researchHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;
}


.third-image{
    grid-area: thirdImage;

}

.past3{
    width: 90vw;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
   
}

.research-text{
    grid-area: researchText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
}


.past-main{
    display: grid;
    grid-template-areas:
        'pastmainHeading pastmainHeading pastmainHeading pastmainHeading'
        'mainText mainText mainText mainText'
        'firstImage firstImage firstImage firstImage'
        'pastHeading pastHeading pastHeading pastHeading'
        'pastText pastText pastText pastText'
        'secondImage secondImage secondImage secondImage'
        'researchHeading researchHeading researchHeading researchHeading'
        'thirdImage thirdImage thirdImage thirdImage'
        'researchText researchText researchText researchText' 
        'footer footer footer footer'
    ;

    grid-gap: 15px;
    transform: translate(0px, -86px);

}

nav{
    width: 100%;
    transform: translate(0%, -90%);
    position: sticky;
    z-index: 10;
    top: 9%;
}

.nav-container{
    top: 0%;
    display: flex;
    background-color:deepskyblue;
    justify-content: space-evenly;
    height: 10vh;
    width: 100%;
    
}

.nav{
    margin: 1.5%;
    font-family: Sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    font-size: .7rem;
    text-align: center;
    
} 

a{
    color: white;
    text-decoration: none;
    
}

a:hover{
    text-decoration: underline;
    transition: 0.2s;
    text-transform: uppercase;
    font-weight: bold;
}

.logo{
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    height: 16vh;
    width: 30vw;
}   


.background{
    width: 100%;
    height: 30vh;
    opacity: 0.75;
}

.index-h2{ 
    position: absolute;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1rem;
    background-color: deepskyblue;
    text-align: center;
    color:aliceblue;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.present-h2{
    position: absolute;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1rem;
    background-color: deepskyblue;
    text-align: center;
    color:aliceblue;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.reference-h2{
    position: absolute;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1rem;
    background-color: deepskyblue;
    text-align: center;
    color:aliceblue;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}


.past-h2{
    position: absolute;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1rem;
    background-color: deepskyblue;
    text-align: center;
    color:aliceblue;
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30vw;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}

.index-main{
    display: grid;
    grid-template-areas:
        'mainHeading mainHeading mainHeading mainHeading'
        'docHeading docHeading docHeading docHeading'
        'docText docText docText docText'
        'docImage docImage docImage docImage'
        'brainHeading brainHeading brainHeading brainHeading'
        'brainText brainText brainText brainText'
        'brainImage brainImage brainImage brainImage'
        'resHeading resHeading resHeading resHeading' 
        'resText resText resText resText'
        'resImage resImage resImage resImage'
        'footer footer footer footer'
    ;

    grid-gap: 15px;
    transform: translate(0px, -70px);

}


.present-main{
    display: grid;
    grid-template-areas:
        'mainHeading mainHeading'
        'intro intro'
        'chemoHeading chemoHeading'
        'chemoText chemoText'
        'chemoImage chemoImage'
        'radHeading radHeading'
        'radText radText'
        'radImage radImage'
        'surHeading surHeading' 
        'surText surText'
        'surImage surImage'
        'conclusion conclusion'
        'footer footer'
    ;

    grid-gap: 15px;
    transform: translate(0px, -86px);

}

.main-heading{
    grid-area: mainHeading;
    
}

.present-intro{
    grid-area: intro;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
}

.chemotherapy-image{
    grid-area: chemoImage;

}
.chemotherapy-image > img{
    width: 95%;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
    
}

.radiation-image{
    grid-area: radImage;

}
.radiation-image > img{
    width: 95%;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
    
}

.surgery-image{
    grid-area: surImage;
    display: block;

}

.surgery-image > img{
    width: 95%;
    height: 35vh;
    padding-left: 1%;
    border-radius: 30px;
    
}

.chemo-heading{
    grid-area: chemoHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;

}

.chemo-heading + p{
    grid-area: chemoText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
    
}

.rad-heading{
    grid-area: radHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;
}

.rad-heading + p{
    grid-area: radText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
}

.sur-heading{
    grid-area: surHeading;
    background-color: deepskyblue;
    color: white;
    padding-left: 1%;
    font-family: sans-serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: 1.2rem;
}

.sur-heading + p{
    grid-area: surText;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    padding-right: 1%;
}

.conclusion{
    grid-area: conclusion;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    padding-left: 1%;
    border-top: 5px solid deepskyblue;
    padding-right: 1%;

}

footer{
    grid-area: footer;
    text-align: center;
    background-color: deepskyblue;
    color: white;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .9rem;
    width: 100%;

}

img + p{
    text-align: right;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    font-size: .7rem;
    padding-right: 1%;
}

.reference{
    font-size: .9rem;
    margin-left: 1%;
    font-family: serif, Cambria, Cochin, Georgia, Times, 'Times New Roman';
    
    
}
.references-main{
    transform: translate(0px, -50px);
}

.references{
    overflow: scroll;
}


@media screen and (min-width: 768px) {

    nav{
        top: 8%;
        width: 100%;
        top: 0;
        transform: translate(0%, -10%);
    }

    .logo{
        margin-top: 0;
        transform: translate(-50%, 0%);
        width: 23vw;
    }


    
    .immunomodulation{
		color:white;
		grid-area: head1;
		text-indent:.5em;
		background-color: deepskyblue;
   
	}

	.immunotherapy{
		grid-area: head2;
		color:white;
		text-indent:.5em;
		background-color: deepskyblue;
		display: inline-block;
		width:100%;
	}    


	.video, .video2{
		height:100%;
		margin-top:3%;

	} 
	.img1, .img2{
    	border-radius: 30px;
		margin-top:3%;


		
	}

	.title{
        grid-area: header;
        margin: auto;
        margin-top: 3%;
        background-color: deepskyblue;
        height: auto;
        text-align: center;
        font-size:2.2em;
	    line-height: 1.6;
    	color:aliceblue;


	}
    
    .index-main{
        grid-template-areas:
         'mainHeading mainHeading mainHeading mainHeading'
         'docHeading docHeading docHeading docHeading'
         'docImage docImage docText docText '
         'brainHeading brainHeading brainHeading brainHeading'
         'brainText brainText brainImage brainImage'
         'resHeading resHeading resHeading resHeading'
         'resImage resImage resText resText '
         'footer footer footer footer'

        ;
        transform: translate(0px, -20px);
    }

    .past-main{
        grid-template-areas:
            'pastmainHeading pastmainHeading pastmainHeading pastmainHeading'
            'mainText mainText mainText mainText'
            'firstImage firstImage firstImage firstImage'
            'pastHeading pastHeading pastHeading pastHeading'
            'pastText pastText secondImage secondImage'
            'researchHeading researchHeading researchHeading researchHeading'
            'researchText researchText thirdImage thirdImage' 
            'footer footer footer footer'
        ;

        transform: translate(0px, -20px);
    
    
    }
    .cancer1{
        font-size: 1.4rem;

    
    }
    
    .cancer1 + p{
        font-size: 1rem;
        
    }

    .doctor-img > img{
        height: 45vh;
        width: 95%;
        
        
    }

    .past{
        font-size: 1.4rem;

    }
    
    .past-text{
        font-size: 1rem;
        line-height: 1.2;
    }

    .research-text{
        font-size: 1rem;
        line-height: 1.2;

    }

    .past + p{
        font-size: 1rem;
    }

    .past1 + p{
        margin-right: 30%;
    }

    .brain-img > img{
        height: 45vh;
        width: 95%;

   
    }
    
    .research{
        font-size: 1.4rem;

    }
    
    .research + p{
        font-size: 1rem;

    }

    .res-img > img{
        margin-top: 5em;
        height: 50vh;
        width: 95%;
        
    }   
    
    .past1{
        width: 55%;
        margin-left: 15%;
    }
    
    
    .past2{
        width: 95%;
    }

    
    .past3{
        width: 95%;

       
    }
    

    .present-main{
        grid-template-areas:
         'mainHeading mainHeading mainHeading mainHeading'
         'intro intro intro intro'
         'chemoHeading chemoHeading chemoHeading chemoHeading'
         'chemoText chemoText chemoImage chemoImage'
         'radHeading radHeading radHeading radHeading'
         'radText radText radImage radImage'
         'surHeading surHeading surHeading surHeading'
         'surText surText surImage surImage'
         'conclusion conclusion conclusion conclusion'
         'footer footer footer footer'

        ;

        transform: translate(0px, -20px);
    }

    .nav{
        font-size: 1rem;
        line-height: 2.5;

    }

    .index-h2{
        font-size: 1.4rem;
        top: 8%;
    }

    .present-h2{
        font-size: 1.4rem;
        top: 10%;
    }

    .past-h2{
        font-size: 1.4rem;
        top: 10%;

    }

    .present-intro{
        font-size: .9rem;
    }

    .past-intro{
        font-size: .9rem;
    }

    img + p{
        font-size: .7rem;

    }

    .chemo-heading{
        font-size: 1.4rem;
    
    }
    
    .chemo-heading + p{
        font-size: .9rem;
        line-height: 2;
        
    }

    .chemotherapy-image > img{
        width: 95%;
        
        
    }

    .rad-heading{
        font-size: 1.4rem;
    }
    
    .rad-heading + p{
        font-size: .9rem;
        line-height: 2;
    }

    .radiation-image > img{
        width: 95%;

   
    }
    
    .sur-heading{
        font-size: 1.4rem;
    }
    
    .sur-heading + p{
        font-size: .9rem;
        line-height: 2;

    }

    .surgery-image > img{
        width: 95%;
        
    }    
    
    .conclusion{
        font-size: .9rem;

    
    }
    
    footer{
        font-size: .9rem;
    }

    .reference-h2{
        font-size: 1.4rem;
        top: 40%;

    }  

    .references-main-heading{
        transform: translate(0%, -6px);
    }

    .references-main{
        margin-bottom: 1%;
        margin-top: 5%;
    }

    .reference{
        font-size: .9rem;
    }


    .grid-container{
        display: grid;
        grid-template-areas:
        'header header'
        'intro intro'
        'head1 head1 '
        'videoandpar1 img1 '
        'cit1 cit1 '
        'head2 head2'
        'videoandpar2 img2 '
        'cit2 cit2 '
        'footer footer '
  
      }

      .intro{
		grid-area: intro;
		margin-top:1%;
		margin-bottom:1%;
		text-indent:1%;
		text-align:center;
		font-size:120%;
	}

    .par1{
		margin-top: 1%;
		text-indent: 1%;
		font-size: .9rem;
		margin-left:1%;
	}

    .par2{
		margin-top: 1%;
		text-indent: 1%;
		font-size: .9rem;
		margin-left:1%;
	}
    .videoandpar1{
		grid-area: videoandpar1;	
	}

    
	.imgandcit1{
		grid-area: img1;
		width:auto;
	}

    .videoandpar2{
		grid-area: videoandpar2;
	}
	.imgandcit2{
		grid-area:img2;
		width:auto;

	}

    .img_citation{
		grid-area: cit1;
        text-align: right;

	}

    
	.img_citation2{
		grid-area: cit2;
	}

    .video, .video2{
		width:50%;
		height:35%;
		margin-top:3%;
		margin-left:auto;
       	margin-right:auto;
       	display:block;

	} 

    .img1, .img2{
		width:95%;
    	border-radius: 30px;
		margin-top:3%;


		
	}



}


@media screen and (min-width: 1600px) { 
    
    nav{
        top: 8%;
        width: 100%;
        transform: translate(0%, -80%)
    }

    .logo{
        margin-top: 5%;
        transform: translate(-50%, -50%);

    }

    .references-main{
        margin-top: 0%;
    }

    .grid-container{
        display: grid;
        grid-template-areas:
        'header header'
        'intro intro'
        'head1 head1 '
        'videoandpar1 img1 '
        'cit1 cit1 '
        'head2 head2'
        'videoandpar2 img2 '
        'cit2 cit2 '
        'footer footer '
  
      }
   
      
      .title{
          grid-area: header;
          margin: auto;
          margin-top: 1%;
          background-color: deepskyblue;
          width:80%;
          color: aliceblue;
          text-align: center;
          font-size:3em;
     
      }
      .intro{
        margin-top:1%;
        grid-area: intro;
        font-size:160%;
        text-indent:1em;
        text-align:center;
     
      }
      .immunomodulation{
          grid-area: head1;
          font-size:2.5em;
      }
      .par1{
        margin-top:1%;
        grid-area: par1;
        text-indent:.5em;
        font-size:140%;
     
      }
      .img1{
          border-radius: 30px;
          grid-area: img1;
          width: auto;
          float: left;
     
      }
     
      .immunotherapy{
          font-size:2.5em;
          grid-area: head2;
      }
      .par2{
        margin-top:1%;
        grid-area: par2;
        text-indent:.5em;
        font-size:130%;
     
      }
      .img2{
        grid-area: img2;
        border-radius: 30px;
        width: auto;
        height: auto;
        float: left;

      }
     

      .img_citation{
          grid-area: cit1;
          text-align: right;
     
      }
     
      .img_citation2{
          grid-area: cit2;
          text-align: right;
     
     
      }
      .video{
          height: 50%;
          width: 40% !important;
          margin-left:auto;
          margin-right:auto;
          display:block;
      }
  
      .videoandpar1{
          grid-area: videoandpar1;
      
      }
      .videoandpar2{
          grid-area: videoandpar2;
  
      }
      .video2{
        height: 30%;
        width: 40% !important;
        margin-left:auto;
        margin-right:auto;
        display:block;
      }
    
    .index-main{
        grid-template-areas:
         'mainHeading mainHeading mainHeading mainHeading'
         'docHeading docHeading docHeading docHeading'
         'docText docText docImage docImage'
         'brainHeading brainHeading brainHeading brainHeading'
         'brainText brainText brainImage brainImage'
         'resHeading resHeading resHeading resHeading'
         'resText resText resImage resImage'
         'footer footer footer footer';

         transform: translate(0px, -86px);

    }
    
    .past-main{
        grid-template-areas:
            'pastmainHeading pastmainHeading pastmainHeading pastmainHeading'
            'mainText mainText mainText mainText'
            'firstImage firstImage firstImage firstImage'
            'pastHeading pastHeading pastHeading pastHeading'
            'pastText pastText secondImage secondImage'
            'researchHeading researchHeading researchHeading researchHeading'
            'researchText researchText thirdImage thirdImage' 
            'footer footer footer footer';

        transform: translate(0px, -86px);
    }

    .present-main{
        grid-template-areas:
         'mainHeading mainHeading'
         'intro intro'
         'chemoHeading chemoHeading'
         'chemoText chemoImage'
         'radHeading radHeading'
         'radText radImage'
         'surHeading surHeading'
         'surText surImage'
         'conclusion conclusion'
         'footer footer';

        transform: translate(0px, -86px);
    }

    .nav{
        font-size: 1.7rem;
        line-height: 2.5;

    }


    .background{
        height: 30vh;
        opacity: 0.75;
    }
    
    .index-h2{
        font-size: 2.3rem;
        top: 8%;

    }

    .past-h2{
        font-size: 2.3rem;
        top: 10%;

    }

    .present-h2{
        font-size: 2.3rem;
        top: 10%;

    }

    .reference-h2{
        font-size: 2.3rem;
        top: 50%;

    }   


   .present-intro{
        font-size: 1.8rem;
    }

    .past-intro{
        font-size: 1.8rem;
    }

    img + p{
        font-size: 1.5rem;
    }

    .chemo-heading{
        font-size: 2.2rem;
    
    }
    
    .chemo-heading + p{
        font-size: 1.8rem;
        line-height: 2;
        
    }
   
    .rad-heading{
        font-size: 2.2rem;
    }
    
    .rad-heading + p{
        font-size: 1.8rem;
        line-height: 2;
    }
    
    .sur-heading{
        font-size: 2.2rem;
    }
    
    .sur-heading + p{
        font-size: 1.8rem;
        line-height: 2;

    }
    
    .conclusion{
        font-size: 1.8rem;

    }

    .past-heading{
        font-size: 2.2rem;
    
    }

    .research-heading{
        font-size: 2.2rem;
    
    }

    .chemotherapy-image > img{
        width: 95%;
 
    }

    .radiation-image > img{
        width: 95%;

    }

    .surgery-image > img{
        width: 95%;

    }
    

    .cancer1{
        font-size: 2.2rem;
    
    }

    .past1{
        width: 65vw;
        margin-left: 10%;
       
    }

    .past1 + p{
        margin-right: 25%;
    }

    .past-text{
        font-size: 1.8rem;
        line-height: 1.6;
    }

    .research-text{
        font-size: 1.8rem;
        line-height: 1.6;

    }
    
    .past2{
        width: 95%;
    }
    
    .cancer1 + p{
        font-size: 1.8rem;
        line-height: 1.2;
        
    }

    .past{
        font-size: 2.2rem;
    }
    
    .past + p{
        font-size: 1.8rem;
        line-height: 1.2;
    }

    .doctor-img > img{
        width: 95%;

    }

    .brain-img > img{
        width: 95%;

    }

    .res-img > img{
        width: 95%;

    }
    
    .research{
        font-size: 2.2rem;

    }
    
    .research + p{
        font-size: 1.8rem;
        line-height: 1.2;

    }
    
    
    footer{
        font-size: 1.8rem;
    }
    
    .reference{
        font-size: 1.8rem;
    }

    .references-main-heading{
        transform: translate(0px, -85px);
    }

}


